body{
    margin: 0;
    background-color: #151619;
    color: white;
}

#nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 85px;
    height: 100vh;
    box-sizing: border-box;
}

#nav a{
    color: white;
    width: 85px;
    height: 65px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 22px;
    text-align: center;

}

#nav a:hover{
    background-color: #1369b4;
}

#nav .active{
    background-color: #2e2e32;

}

#logo{
    position: absolute;
    margin: 0;
    top: 30;
    width: 85px;
    text-align: center;
    font-size: 25px;
}

#menu{
    position: absolute;
    top: 50%;
    transform: translate(0%, -60%);
}

#log{
    position: absolute;
    bottom: 30;
}

#menu img, #log img{
    width: 30px;
    height: 30px;
    margin: -4px 0px;
} 


#content{
    position: fixed;
    top:0;
    left: 85;
    width: calc(100vw - 85px);
    height: 100vh;
}

#centerBox{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    
}

#centerBox h3{
    margin-top: 20px;
    margin-bottom: 50px;
}

#centerBox div{
    height: 49px;
}

#centerBox div *{
    color:aliceblue;
    width: 275px;
    display: inline-block;
    background-color: #252932;
    height: 45px;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 13px 15px;
    vertical-align:top;
    
}

#centerBox input{
    width: 200px;
    margin-right: 5px;
    border: none;
}

#centerBox input::placeholder{
    color:aliceblue;
}

#centerBox div p{
    width: 70px;
}

#submit{
    background-color: #014d8e;
    height: 40px;
    font-size: 14px;
    margin: auto;
    width: 275px;
    box-sizing: border-box;
    padding-top: 12px;
    
}

#submit:hover{
    background-color: #1369b4;
}
