################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LostAtlasCAH.API/.vs/LostAtlasCAH.API/v15

*/node_modules/

.vscode/
/.vs
/LostAtlasCAH.React/node_modules
/LostAtlasCAH.API/.vs/config
/LostAtlasCAH.API/LostAtlasCAH.API/obj
/LostAtlasCAH.API/LostAtlasCAH.API/bin
